# Default ignored files
/../../AI-grup76 /.idea/shelf/
/../../AI-grup76 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../AI-grup76 /.idea/httpRequests/
# Datasource local storage ignored files
/../../AI-grup76 /.idea/dataSources/
/../../AI-grup76 /.idea/dataSources.local.xml
